.event-page {
    margin: 0 auto;
    width: 90%;
}

.event-page button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2E2E2E;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: .7rem;
    padding: .3rem;
    text-transform: uppercase;
    border-radius: .2rem;
    min-width: 5rem;
}

.event-page button:hover {
    cursor: pointer;
    background-color: #535353;
}

.event-page button svg {
    width: .8rem;
    height: .8rem;
    margin-right: .5rem;
}

.event-page .descr > * {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.event-page .descr .bold {
    font-weight: bold;
    margin-right: .3rem;
    color: #a1a1a1;
}

@media (min-width: 800px) {
    .event-page {
        width: 50%;
    }
}